@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

/*---- GENERAL STYLE RESET  ----*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:not(svg, img, picture):empty {
	display: none;
}

:root {
	--default-text: 'Roboto', sans-serif;
    --line-height: 1.5rem;
    --bg-color: #F7F8F8;
    --white-color: #FFFFFF;
    --violet-color: #6644FF;
    --black-color: #000000;
    --grey-color: #969696;
    --footer-links-color: #3A7C86;
    --footer-line-color: #445667;
    --nav-message-color: #FFDD33;
}

/* GENERAL ELEMENTS STYLE */
html, body {
	height: 100%;
	width: 100%;
    scroll-behavior: smooth;
    font-family: var(--default-text);
    line-height: var(--line-height);
    background-color: var(--bg-color);
    font-size: var(--p);
}

h6 {
    font-size: var(--h6);
    font-weight: 300;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
	width: 100%;
    height: 100%;
}

figure {
    position: relative;
}

.container {
	width: 100%;
	display: flex;
    gap: 1rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 1rem;
}

.hero figure {
    width: 100%;
}
.hero figure figcaption {
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
}

figure figcaption > h6 {
    font-size: 1rem;
}

/* TODO: - add nav top with nesting lists */
.nav-top {
    display: none;
}

/* TODO: add nesting in list */
.nav-menu {
    background-color: var(--white-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0rem;
    width: 100%;
    z-index: 10;
}

.nav-message {
    display: none;
}

nav {
    display: block;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-menu {
    justify-content: space-evenly;
}

.nav-menu a {
    color: var(--grey-color);
}

/*------ Mobile First ------*/
.hero > :not(figure:first-child, figure:last-child) {
    display: none;
}

/* Display only 3 items in navbar */
.nav-menu > :not(li:nth-child(-n+3)) {
    display: none;
}

/* TODO: Add social media in newsletter */
.newsletter {
    background-color: var(--violet-color);
    color: var(--white-color);
}

.content {
    border-bottom: solid 2px var(--grey-color);
}

.content .item{
    padding: 1rem;
    display: grid;
    row-gap: 0.5rem;
    column-gap: 1rem;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1;
    justify-items: start;
    align-items: start;
}

.most-popular-stories-today figure figcaption {
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2rem;
    text-align: left;
    
    /* TODO: Fix triangle */
    /* border-bottom: 5vh solid var(--white-color);
    border-right: 5vh solid transparent; */
}

/* Display first media item not in a grid */
.corporates-and-innovation .content .item:first-child,
.sustainability .content .item:first-child,
.fintech-and-ecommerce .content .item:first-child, 
.startups-and-technology .content .item:first-child {
    display: block;
}

.work-with-us .content .item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

/* TODO: fix size of items in media grid and partners */
.work-with-us .content .media-grid,
.work-with-us .content .partners {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 0 20%;
}

/* TODO: Fix social media hover */
.social-media a img:hover {
    opacity: 100%;
}

/* TODO: Fix in another way */
.work-with-us figure h4 {
    text-align: center;
}

/* TODO: Fix in other browsers. Displays correctly in Chrome */
.social-media {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    column-gap: 1rem;
    opacity: 70%;
}

.work-with-us {
    background-color: var(--white-color);
}

.work-with-us h2 {
    color: var(--violet-color);
    font-size: 2rem;
}

/* BUTTONS */
.get-in-touch button,
.latest-news button {
    background-color: var(--violet-color);
    color: var(--white-color);
    padding: 1rem 3rem;
    border-style: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.event-agenda,
.showcase-video .content {
    width: inherit;
}

.event-agenda {
    height: 50%;
}

.event-agenda button {
    background-color: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
    padding: 0.5rem ;
    border-radius: 0.8rem;
}

.event-agenda button:active {
    background-color: var(--white-color);
    opacity: 80%;
    color: var(--violet-color);
}

footer {
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer * a {
    color: var(--footer-links-color);
    font-weight: 500;
}

.footer-more {
    align-self: flex-start;
    width: 50%;
}

.footer-about {
    align-self: flex-end;
    align-items: flex-start;
    width: 50%;
}

.footer-copyright {
    align-self: center;
    border-top: 2px solid var(--footer-line-color);
    align-self: center;
    align-items: center;
}

/* MEDIUM SIZE SCREENS */
@media(min-width: 640px) {
    /* Flex menu in nav */
    .nav-menu > :not(li:nth-child(-n+5)) {
        display: flex;
    }

    .nav-message {
        display: block;
        background-color: var(--nav-message-color);
    }
    /* TODO: */
    /* HERO - mosaic */
    /* topic news - two columns  1element || all*/
    /* videos - two columns */
    /* WORK with us - 2 columns reach your goals || media */
    /* partners - centered in a circular motion */
    /* Latest news - two columns  1 element || all elements*/
    /* footer: inherit from small size screen */
}

/* LARGE SIZE SCREENS */
@media(min-width: 1024px) {
    /* TODO: */
    /* inherit all from medium size screen, except: */

    /* Latest news - 4 columns*/
    /* Partners - one line bottom */
    /* footer - 3 columns */
}
