@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300;1,400&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2em;
    font-family: 'Ubuntu', open-sans;
}

/* Inline style selectors */
h1, h2, h5 {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: large;
}

/* IDs selectors */
#profile-img {
    width: 55%;
    border-radius: 100%;
}

#profile-address > a,
#profile-phone > a {
    text-decoration: none
}

/* Classes */
body {
    background-color: aliceblue;
}

header {
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    background-color: white;
    box-shadow: 10px 5px 5px gainsboro;
}

section {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(auto, max-content);
    justify-content: center;
    padding: 2%;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    background-color: white;
    box-shadow: 10px 5px 5px gainsboro;
}

.list {
    margin-left: 6%;
}

.years {
    padding-top: 1%;
}

footer {
    background-color: white;
}
