@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/*---- GENERAL STYLE RESET  ----*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---- PAGE LAYOUT SETUP ----*/
body {
    display: grid;
    grid-template-areas: "header"
                         "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #F3F4F8;
    gap: 1rem;
    font-size: 0.75rem;
}

section {
    margin-bottom: 5%;
}

#grid-floats,
#grid-flex {
    display: grid;
    gap: 1rem;
    min-height: 0;
    min-width: 0;
}

.grid-item {
    background-color: white;
    padding: 2rem 4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0.16rem 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    background-image: url('images/info.svg');
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: bottom 4% right 3%;
    background-color: none;
}

ul,
li {
    display: block;
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 0.4rem;
}

h3 {
    padding: 0.5rem;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1%;
}

img {
    display: block;
    order: -1;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

/*----- To limit p lines amount  - uncomment-----*/
/* 
p { 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
*/

   

p {
    text-align: justify;
}

/*---------- RESPONSIVENESS ----------*/
/*----- SMALL SIZE SCREEN DEVICES -----*/
@media(min-width: 320px) {
    body {
        padding: 0.75rem 1.125rem;
        font-size: 0.6rem;
    }

    #grid-floats,
    #grid-flex {
        grid-template-columns: 1fr 1fr;
    }

    .grid-item:nth-child(1) {
        grid-column: 1 / span 2;
    }

    .grid-item {
        padding: 1rem;
    }

}

/*-----MEDIUM SIZE SCREEN DEVICES -----*/
@media(min-width: 640px) {
    body {
        font-size: 0.75rem;
        padding: 1rem 1.5rem;
    }

    #grid-floats,
    #grid-flex {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid-item {
        grid-column: span 2;
    }

    .grid-item:nth-child(1),
    .grid-item:nth-child(2) {
        grid-column: span 3;
    }

}

/*----- BIG SIZE SCREEN DEVICES -----*/
@media(min-width: 920px) {
    body {
        padding: 2rem 5rem;
        font-size: 0.75rem;
    }

    #grid-floats,
    #grid-flex {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid-item {
        grid-column: span 1;
    }

    .grid-item:nth-child(1) {
        grid-column: span 2;
    }

    .grid-item:nth-child(2) {
        grid-column: span 1;
    }

}

@media(min-width: 1024px) {
    body {
        font-size: 1.25rem;
    }
}

/* ---------- ARABIC LANGUAGE STYLING ---------- */
.grid-item:nth-child(2)>p {
    text-align: right;
}

/* ---------- GRID ITEM ANIMATION ---------- */
.grid-item::after {
    content: "";
    border-radius: 0.4rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0.4rem 1rem rgba(3, 193, 210, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-item:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

p:hover {
    overflow: visible;
    display: block;
}

.grid-item:hover::after {
    opacity: 1;
}

/*---------- H3 UNDERLINE ANIMATION ----------*/
h3 {
    --line-thickness: 0.1em;
    --line-color: darkcyan;

    color: #0000;
    padding-block: var(--line-thickness);
    background:
        linear-gradient(var(--line-color) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--line-color) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--line-thickness) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

h3:hover {
    --_p: 100%;
    --_s: .3s;
}

/* GRID ANIMATION WITH KEYFRAME - LAST ELEMENT*/

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .grid-item:last-child {
    animation: infinite-spinning 5s infinite;
  }
