@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "header"
                         "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #F3F4F8;
    gap: 1rem;
    font-size: 2rem;
}

section {
    margin-bottom: 5%;
}

ul, li {
    display: block;
}

h1 {
    text-transform: uppercase;
}

h3 {
    padding: 1rem;
    margin: 0 auto;
    font-weight: 600;
    /* grid-row: 3; */
    /* align-self: ; */
    justify-self: center;
}

img {
    display: block;
    width: calc(100% - 67%);
    margin: 0 auto;
    white-space: nowrap;
    /* width: min-content; */
}

.grid-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 7.5ch;
    /* display: none; */
}

#grid-floats, #grid-flex{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
    gap: 2rem;
    min-height: 0;
    min-width: 0;
    /* align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center; */

}

.grid-item {
    background-color: white;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*---------- RESPONSIVENESS ----------*/
/*----- SMALL SIZE SCREEN DEVICES -----*/
@media(min-width: 0) and (max-width: 640px) {
    body {
        padding: 0.75rem 1.125rem;
        font-size: 1rem;
    }

    #grid-floats,
    #grid-flex {
        grid-template-columns: 1fr 1fr;
    }
     
    .grid-item:nth-child(1){
        grid-column: 1 / span 2;
    }

    .grid-item {
        padding: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

}

/*-----MEDIUM SIZE SCREEN DEVICES -----*/
@media(min-width: 641px) and (max-width: 1024px){
    body {
        padding: 1.5rem 2.75rem;
    }

    #grid-floats,
    #grid-flex{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid-item {
        grid-column: span 2;
        max-height: max-content;
    }

    .grid-item:nth-child(1),
    .grid-item:nth-child(2) {
        grid-column: span 3;
    }

}

/*----- BIG SIZE SCREEN DEVICES -----*/
@media(min-width: 1025px) {
    body {
        padding: 2rem 5rem;
    }

    #grid-floats,
    #grid-flex {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid-item:nth-child(1) {
        grid-column: 1 / span 2;
    }
}

/* ---------- Product card style ---------- */
/* ----- Grid with flex ----- */
#grid-flex .grid-item,
#grid-float .grid-item {
    padding: 4% 8%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/*----- Grid with grid ----- */
/* #grid-float .grid-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(30%, 1fr);
    justify-content: center;
    align-items: center;
} */

/* ----- Arabic language ----- */
.grid-item:nth-child(2) > p {
    text-align: right;
}

/* ---------- Collapse text in item ---------- */
/* .grid-item p.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

.grid-item p.collapsing {
    height: 3rem;
}

.grid-item p.collapsed::after {
    content: '+ Show More';
}

.grid-item p:not(.collapsed)::after {
    content: '- Show Less';
} */


/* ---------- GRID ITEM ANIMATION ---------- */

.grid-item::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-item:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.grid-item:hover::after {
    opacity: 1;

}